* {
    margin: 0;
    padding: 0;
}

img {
    width: 500px;
    height: 300px;
}

#carousel {
    display: flex;
    justify-content: center;
}

#picture-frame {
    border: 1px solid black;
    width: 500px;
    height: 300px;
}

#pictures {
    visibility: hidden;
}

#next-btn, #prev-btn {
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
}

#next-btn:hover, #prev-btn:hover {
    background-color: #80808045;
}

@keyframes slide-animation {
    from {transform: scaleX(0);}
    to {transform: scaleX(1.0);}
}

.animate-slide {
    animation-name: slide-animation;
    animation-duration: 0.5s;
}

.circle {
    border-radius: 100%;
    border: 2px solid black;
    width: 10px;
    height: 10px;
    margin: 10px;
    cursor: pointer;
}

#selection-circles {
    display: flex;
    width: 500px;
    justify-content: center;
}

#selection-area {
    display: flex;
    justify-content: center;
}

